<nav class="navbar">
  <div class="navbar-content">

    <ul class="nav-menu">
      <li><a routerLink="/home" routerLinkActive="active">Lista Movimenti</a></li>
      <li><a routerLink="/deposito" routerLinkActive="active">Deposito</a></li>
      <li><a routerLink="/preleva" routerLinkActive="active">Preleva</a></li>
      <li><a routerLink="/saldo" routerLinkActive="active">Saldo</a></li>
    </ul>

    <div class="user-section">
    <!--  <button class="btn-avatar" routerLink="/profile">
        <img src="https://ui-avatars.com" alt="User">
      </button>
    
      <button class="btn-logout-icon" title="Esci" routerLink="/login">
        <svg xmlns="http://w3.org" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
      </button>
    -->
    </div>
  </div>
</nav>
